*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    // transition: all .2s;
}

body {
    height: 100vh;
    background-image: linear-gradient(to bottom right, #ffdbb5 0%, #e0a458 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }