@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

html{
    font-size: 62.5%;
}

body{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    color: #333;
}

.playerInfo{
    text-align: center;

    &__name{
      font-weight: 700;
      font-size: 4rem;
      text-transform: uppercase;
      letter-spacing: 1px;
      word-spacing: 2px;
      font-weight: 300;

      @media only screen and (max-width: 48em) {
        font-size: 3rem;
      }
    }
  
    &__score{
      font-weight: 600;
      font-size: 8rem;
      color: #e0a458;

      @media only screen and (max-width: 48em) {
        font-size: 4rem;
      }
    }
  }



.statement-container{
 &__message{
  font-size: 4rem;
  font-weight: 700;

  span{
    display: block;
    font-weight: 500;
    font-size: 2rem;
  }
 }
}


.answer{
  position: relative;

  &__counter{
    font-weight: 700;
    font-size: 8rem;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }
}


.player{
  &--winner{
    background-color: #2f2f2f;

    .playerInfo{
      &__name{
        color: #e0a458;
      }
    }
  }
}

.copyright{
  position: fixed;
  bottom: 0;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;
}